{% extends "layout.html" %}
{% block content %}
<h1 style="text-align: center;">{{current_user.username}}'s Profile</h1>
<h2 style="text-align: center;">Edit Profile</h2>
<div class="mainCard" style="flex-direction: column; max-width: 60%; margin-left: 50vh; margin-right: 50vh;">
    <div class="userImagesCard" style="padding: 10px; justify-items: center ;">
        <div style="text-align: center;">
            <img src="{{current_user.profile_image_url}}" class="profileImage" />
            <a href="{{url_for('users.upload', id=current_user.id)}}" class="btn">Change profile image</a>
            <form action="{{url_for('users.update',id=current_user.id)}}" method="POST">
        </div>
    </div>
    <div class="form-group">
        <label for="username">username:</label>
        <input type="text" name="username" value="{{current_user.username}}" class="form-control" />
    </div>

    <div class="form-group">
        <label for="email">email:</label>
        <input type="text" name="email" value="{{current_user.email}}" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>

    </form>
</div>

{%endblock%}