{% extends "layout.html" %}
{% block content %}

<h1>News feed</h1>

<div class="container">
    {% for user in user %}
    {% if user.profile_image %}

    <a href="{{url_for('users.show_feed',username=user.username)}}">

        <br>
        <img src="{{ user.profile_image_url}}">
        {{user.username}}
        <br>
        <div>
            {% for image in user.images %}
            <img src="{{image.image_url}}">
            {% endfor %}
        </div>

    </a>


    {% endif %}
    {% endfor %}
</div>

{%endblock%}