{% extends "layout.html" %}
{% block content %}

<h1 style="text-align: center;">News feed</h1>

<div class="container">
    {% for user in user %}
    {% if user.profile_image %}


    <div class="mainCard">
        <div class="profileContainer">
            <a href="{{url_for('users.show_feed',username=user.username)}}">
                <img src="{{ user.profile_image_url}}" class="profileImage">
            </a>
            <p class="username">{{user.username}}</p class="username">
        </div>
        <hr>
        {% for image in user.images %}
        <div class="userImagesCard">

            <img src="{{image.image_url}}" class="userImages">

            <a href="{{url_for('donations.new', image_id = image.id)}}" class="text-center">
                <button type="submit" class="btn btn-primary ">Donate!</button>
            </a>

            <p class="captionText">:{{image.caption}}</p>

            <small>Donations: RM{{image.total_donations}}</small>
        </div>
        {% endfor %}
    </div>




    {% endif %}
    {% endfor %}
</div>

{%endblock%}