body {
  margin: 0;
  border: 0;
  /* padding-bottom:15px; */
  position: relative;
  min-height: 100vh;
}


footer{
  position: relative;
  background-color:transparent;
  
}
.btn{
  text-decoration: none;
  text-align: center;
}

.background {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  padding-bottom:30px;
  position: relative;
  background-color: wheat;
}

.flashes{
  position: absolute;
  background-color:wheat;
}

.mainCard{
  background-color: white;
  border-bottom: 4px solid #343a40 ;
  border-right: 4px solid #343a40;
  border-top: 2px solid #343a40;
  border-left: 2px solid #343a40;  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  column-count: 4;
  column-gap: 15px;
  margin-bottom: 10px;
}

.homepage{
  background-color: white;
  border: 2px solid #343a40;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 50%;
  height: 50%;
  /* margin-top: 10%; */
  
}

.profileImage{
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #343a40;
}


.profileContainer{
  display: flex;
  border-bottom: 4px solid #343a40 ;
  border-right: 4px solid #343a40;
  border-top: 2px solid #343a40;
  border-left: 2px solid #343a40;
  border-radius: 15px;
  padding: 10px;
  min-width: 100%;
  position: relative;
}
.username{
  text-decoration: none #343a40 ;
  font-weight: 600;
  font-size: 50px;
  align-self: center;
  margin-left: 50px;
  
}

.userImages{
  margin: 10px;
  border: 2px solid #343a40;
  border-radius: 10px;
}

.userImagesCard{
  border-bottom: 4px solid #343a40 ;
  border-right: 4px solid #343a40;
  border-top: 2px solid #343a40;
  border-left: 2px solid #343a40;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  max-height: fit-content;
}

.donateCard{
  background-color: white;
  border-bottom: 4px solid #343a40 ;
  border-right: 4px solid #343a40;
  border-top: 2px solid #343a40;
  border-left: 2px solid #343a40;  
  border-radius: 20px;
  /* padding: 1px; */
  position: relative;
  align-self: center;
  justify-self:center;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  min-width: fit-content;
}

.donateImage{
  border-top-left-radius: 20px;
  border-top-right-radius: 18px;
  border-bottom: 4px solid #343a40;
  width: 500px;
  height: auto;

}

.donateBtn{
  padding: 5px;
  height: fit-content;
  width: 70px;
  align-self: center;
}

.captionText{
  text-decoration: none #343a40 ;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

